aws_region          = "us-east-1"
environment         = "sepolia"
rpc_url             = "https://eth-sepolia.g.alchemy.com/v2/YOUR_KEY"
db_password         = "CHANGE_ME_STRONG_PASSWORD"
db_username         = "plether"
chain_id            = "11155111"
cors_origins        = "*"
indexer_start_block = "7726000"
container_cpu       = 256
container_memory    = 512
db_instance_class   = "db.t4g.micro"
